<nav class="sb-sidenav accordion sb-sidenav-dark modern-sidenav" id="layoutSidenav_nav">
    <div class="sb-sidenav-menu">
        <div class="nav">

            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="{{ path('app_dashboard') }}">
                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                Accueil
            </a>

            <div class="sb-sidenav-menu-heading">Management</div>

            <a class="nav-link" href="{{ path('app_users_index') }}">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                Users
            </a>

            <a class="nav-link" href="{{ path('app_users_index') }}">
                <div class="sb-nav-link-icon"><i class="fas fa-calendar"></i></div>
                Evenement
            </a>

            <a class="nav-link" href="{{ path('app_users_index') }}">
                <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                Vente
            </a>

            <a class="nav-link" href="{{ path('app_users_index') }}">
                <div class="sb-nav-link-icon"><i class="fas fa-handshake"></i></div>
                Sponsoring
            </a>

            <a class="nav-link" href="{{ path('app_users_index') }}">
                <div class="sb-nav-link-icon"><i class="fas fa-exclamation-circle"></i></div>
                Reclamation
            </a>

        </div>
    </div>

    <div class="sb-sidenav-footer modern-footer">
        <div class="small">Logged in as:</div>
        <span class="user-name">Admin</span>
    </div>
</nav>
